

@using　Game.Models
@model　Game.Models.FieldRepository

@{
    ViewData["Title"] = "ぷももえん";
}

<style>    
    td {
        height: 5rem;
        width: 5rem;
        background-color: green;
        border: solid 1px black;
    }

    td.white {
        background-color: white;
    }

    td.black {
        background-color: black;
    }

    td:hover {
        cursor: pointer;
        opacity: 0.5;
    }
</style>

<div id="sawai">
    <form action="/Game/Index" method="post" name="gameForm">
        <table>
            @for (int i = 0; i < GameParameters.FIELD_SIZE; i++)
            {
                <tr>
                @for (int j = 0; j < GameParameters.FIELD_SIZE; j++)
                {
                    <td class="@Model.Pieces[i][j].Color" onclick="submitGameForm(@i,@j)">
                        
                    </td>
                }
                </tr>
            }
        </table>
    </form>
</div>