@using System;
@using System.Linq;
 

@model Amidakuji.Models.KujiModel

@{
    ViewData["Title"] = "あみだくじ";
}


<div id="sawai">
    @Model.Title
    @foreach (var result in Model.Result)
    {
        <p>@result.Item</p>
    }
</div>